.odd-number {
  background-color: lightcoral;
  font-family: Verdana, "DejaVu Sans"; sans-serif;
}
.font-size {
  font-size: 24px;
}

#number2 {
  color: blue;
  font-size: 36px;
}
#fourth {
  background-color: lightgreen;
  font-weight: 700;
}